<h2>Register</h2>

<form [formGroup]='regform'>
	<fieldset>
		<label>email:
			<input
				type='text'
				name='email'
				formControlName='email'
				(input)='changeInputReg($event)' />
		</label>
		<label>pass:
			<input
				type='password'
				name='pass'
				formControlName='pass'
				(input)='changeInputReg($event)' />
		</label>
		<label>name:
			<input
				type='text'
				name='name'
				[value]='name'
				(input)='name = $event.target.value; changeInputUser($event);' />
		</label>

		<input
			type='hidden'
			name='role'
			[value]='role'
			readonly />
		<input
			type='hidden'
			name='salt'
			formControlName='salt' />
		<input
			type='hidden'
			name='hash'
			formControlName='hash' />

		<button (click)='register($event)' type='button'>Register</button>
	</fieldset>
</form>
