<mat-card>
	<mat-card-header>
		<mat-card-title>MRCTT</mat-card-title>
		<mat-card-subtitle>Mobile Randomized Controlled Trial Tool</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<h1 class='mat-display-3'>Welcome</h1>
		<p>This tool is designed to assist researchers with creating mobile-based randomized controlled trials.</p>
		<div class='row'>
			<p class='mat-body description' [ngClass]="{ 'visible' : (_state == 'login') }">If you have an account you can login using the form below. If you do not yet have an account you can <button (click)='toggleState();' tabindex='1'>register</button> for one.</p>
			<p class='mat-body description' [ngClass]="{ 'visible' : (_state == 'register') }">If you do not have an account you can create one using the form below. If you do have one you can <button (click)='toggleState();' tabindex='1'>login</button>.</p>
		</div>
		<mat-divider></mat-divider>
		<div class='row'>
			<admin-login [ngClass]="{ 'visible' : (_state == 'login') }"></admin-login>
			<admin-registration [ngClass]="{ 'visible' : (_state == 'register') }"></admin-registration>
		</div>
	</mat-card-content>
</mat-card>
