mat-card {
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 800px;
	max-height: 430px;
	position: absolute;
	right: 0;
	top: 0;

	.mat-display-3 {
		margin-bottom: 10px;
	}

	button {
		background: none !important;
		border: none;
		color: #00f;
		cursor: pointer;
		font: inherit;
		min-width: auto;
		padding: 0 3px !important;
	}
}

admin-login, admin-registration, .description {
	visibility: hidden;
	&.visible {
		visibility: visible;
	}
}

.row {
	display: flex;
	flex-direction: row;

	& > * {
		flex: 1;
	}
}
