<mat-card class='content'>
	<mat-card-content>
		<h1 class='mat-display-4'>Randomized Controlled Trial Survey Tool</h1>
		<p><em>RCTrials</em> is an open source tool to help researchers collect and track survey data and carry out randomized controlled trials. It is mobile, has an API, and is available on GitHub.</p>
		<div class='polyptych'>
			<div>
				<h3 class='mat-h3'>Participating</h3>
				<h4 class='mat-h4'>in a trial?</h4>
				<p>Download the <em>RCTrials</em> app <br/>and register into your trial.</p>
				<!--
				<a href='/assets/app/rctrials.apk'>
					<img src='../../../assets/img/get_it_on_google_play_badge.png' alt='Get It On Google Play' height='54' />
				</a>
				-->
				<a href='/assets/app/rctrials.apk' mat-flat-button color='primary' type='button'>Download App</a>
			</div>
			<div>
				<h3 class='mat-h3'>Doing Research</h3>
				<h4 class='mat-h4'>using an RCT?</h4>
				<p>Create an account to start configuring your study.</p>
				<a routerLink='/register' mat-flat-button color='primary' type='button'>Register</a>
			</div>
			<div>
				<h3 class='mat-h3'>Developing</h3>
				<h4 class='mat-h4'>an app?</h4>
				<p>To integrate your app with the <em>RCTrials API</em>, read the documentation to get started.</p>
				<a routerLink='/docs' mat-flat-button color='primary' type='button'>Documentation</a>
			</div>
		</div>
	</mat-card-content>
</mat-card>
