html, body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #e5e5e5;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mrct-wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-image: url('../img/chuttersnap-348302-unsplash.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-ms-content-zooming: none;
	// box-shadow: inset 0px 0px 0px 1000px rgba(229,229,229,0.6);
	box-shadow: inset 0px 0px 0px 1000px rgba(255,255,255,0.4);
	// transition: opacity 300ms ease-out;

	&.about {
		background-image: url('../img/martin-adams-1062002-unsplash.jpg');
	}

	&.docs {
		background-image: url('../img/janko-ferlic-174927-unsplash.jpg');
	}

	// & > * {
	// 	display: block;
	// 	opacity: 1;
	// }
	// & > app-spinner {
		// opacity: 0;
	// }
	//

	mat-card {
		margin: 20px auto 120px;
		padding: 50px;
		max-width: 800px;
		min-height: 430px;

		mat-card-content {
			& > h1 {
				font-size: 2.775rem;
				line-height: 3.3rem;
				margin-bottom: 0px;
				@media screen and (max-width: $break-sm) {
					font-size: 6rem;
				}
			}
			& > p {
			}
			em {
				font-weight: 500;
			}
		}
	}

}
