.mrct-wrapper {
	width: 90%;
	margin: 0 auto;
	// transition: opacity 300ms ease-out;

	// & > * {
	// 	display: block;
	// 	opacity: 1;
	// }
	// & > app-spinner {
		// opacity: 0;
	// }
	//


	fieldset {
		display: flex;
		flex-direction: column;
	}

}
