<footer>
	<img class='footer-angle' src='../../../assets/img/footer-angle.svg' alt='' />
	<div class='footer-content'>
		<p class='legal'>Google Play and the Google Play logo are trademarks of Google LLC.</p>
		<p class='legal'><a mat-button routerLink='privacy' href='#'>Privacy Policy</a> | <a mat-button routerLink='terms' href='#'>Terms and Conditions</a></p>

		<nav class='social-media'>
			<a href='#'><img src='../../../assets/img/github.svg' height='24' alt='GitHub' /></a>
			<!-- <a href='#'><i class='material-icons'>face</i></a> -->
		</nav>
	</div>
</footer>
