<header>
	<nav class='navigation'>
		<div class='navigation--left'>
			<a routerLink='/home' class='logo'><img src='../../../assets/img/logo_title.svg' height='50' alt='RCTrials' /></a>
		</div>
		<div class='navigation--right'>
			<button mat-icon-button (click)="toggleState();" class='hamburger'><mat-icon aria-label='Menu'>menu</mat-icon></button>
			<ul [ngClass]="[menu ? 'open' : '']">
				<li><a mat-button routerLink='/about'>About</a></li>
				<li><a mat-button routerLink='/docs'>Documentation</a></li>

				<li *ngIf="!signedIn"><a mat-button routerLink='/register'>Register</a></li>
				<li *ngIf="!signedIn"><a mat-button routerLink='/login'>Login</a></li>
				<li *ngIf="signedIn"><a mat-button routerLink='/dashboard'>Dashboard</a></li>
				<li *ngIf="signedIn"><a mat-button routerLink='/logout'>Logout</a></li>

				<li class='mobile'><a mat-button routerLink='/privacy'>Privacy Policy</a></li>
				<li class='mobile'><a mat-button routerLink='/terms'>Terms and Conditions</a></li>
			</ul>
		</div>
	</nav>
</header>
