<header>
	<nav class='navigation'>
		<div class='navigation--left'>
			<a routerLink='/home' class='logo'><img src='../../../assets/img/logo_title.svg' height='50' alt='RCTrials' /></a>
		</div>
		<div class='navigation--right'>
			<ul>
				<li><a routerLink='/about'>About</a></li>
				<li><a routerLink='/docs'>Documentation</a></li>
				<li><a routerLink='/register'>Register</a></li>
				<li><a routerLink='/login'>Login</a></li>
				<!-- TODO: add hamburger menu -->
			</ul>
		</div>
	</nav>
</header>
