<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Register</h2>
<fieldset>
	<label>email:
		<input type='text' name='email' [value]='email' (input)='email = $event.target.value' />
	</label>
	<label>pass:
		<input type='text' name='pass' [value]='pass' (input)='updateHash($event)' />
	</label>
	<label>name:
		<input type='text' name='name' [value]='name' (input)='name = $event.target.value' />
	</label>

	<div style='opacity:0.5'>
		<label>role:
			<input type='text' name='role' [value]='role' readonly />
		</label>
		<label>salt:
			<input type='text' name='salt' value='{{ salt }}' />
		</label>
		<label>hash:
			<input type='text' name='hash' value='{{ hash }}' />
		</label>
	</div>

	<button (click)='register($event)'>Register</button>
</fieldset>
