<div class="mrct-wrapper" [ngClass]="[
	route ===         'about' ? 'about' : '',
	route ===          'docs' ? 'docs'  : '',
	route ===       'privacy' ? 'legal' : '',
	route ===         'terms' ? 'legal' : '',
	route ===     'dashboard' ? 'legal' : '',
	route ===     'new-trial' ? 'legal' : '',
	route === 'trial-details' ? 'legal' : '',
	route ===      'register' ? 'login' : '',
	route ===         'login' ? 'login' : ''
]">
	<app-spinner name="main"></app-spinner>
	<app-header></app-header>
	<div class='header_spacer'></div>
	<router-outlet></router-outlet>
	<app-footer></app-footer>
	<!-- <app-messages></app-messages> -->
</div>
