<h2>Login</h2>

<form [formGroup]='regform'>
	<fieldset>
		<label>email:
			<input
				type='text'
				name='email'
				formControlName='email'
				(input)='changeInput($event)'
			/>
		</label>
		<label>pass:
			<input
				type='password'
				name='pass'
				formControlName='pass'
				(input)='changeInput($event)'
			/>
			<input
				type='hidden'
				name='salt'
				formControlName='salt'
			/>
			<input
				type='hidden'
				name='hash'
				formControlName='hash'
			/>
		</label>

		<button (click)='login($event)' type='button'>Login</button>
	</fieldset>
</form>
