<h2>Login</h2>

<form [formGroup]='regform'>
	<mat-form-field>
		<input
			matInput
			placeholder='Email:'
			type='text'
			name='email'
			formControlName='email'
			(input)='changeInput($event)'
		/>
	</mat-form-field>
	<mat-form-field>
		<input
			matInput
			placeholder='Password:'
			type='password'
			name='pass'
			formControlName='pass'
			(input)='changeInput($event)'
		/>
	</mat-form-field>
	<button mat-stroked-button (click)='login($event)' type='button' color='primary'>Login</button>
</form>
