<h2>{{ title }}</h2>

<form [formGroup]='newTrialForm'>
	<fieldset>
		<legend>Basic Info</legend>
		<label>Trial title:
			<input
				type='text'
				name='title'
				formControlName='title'
				(input)='changeInput($event)' />
		</label>
		<label>Registration Opens:
			<input
				type='date'
				name='regopen'
				formControlName='regopen'
				(input)='changeInput($event)' />
		</label>
		<label>Registration Closes:
			<input
				type='date'
				name='regclose'
				formControlName='regclose'
				(input)='changeInput($event)' />
		</label>
		<label>Trial Starts:
			<input
				type='date'
				name='trialstart'
				formControlName='trialstart'
				(input)='changeInput($event)' />
		</label>
		<label>Trial Ends:
			<input
				type='date'
				name='trialend'
				formControlName='trialend'
				(input)='changeInput($event)' />
		</label>
	</fieldset>

	<fieldset class='done'>
		<legend>Experiment Design</legend>
		<label>Number of groups:
			<input
				type='number'
				name='ngroups'
				min=1
				value=1
				(input)='changeInput($event)' />
		</label>
		<label>Trial Type:
			<select
				name='trialtype'
				formControlName='trialtype'
				(input)='changeInput($event)'>
					<option value='simple'>Simple</option>
					<option value='rotaion' disabled=''>Rotation</option>
					<option value='factorial' disabled=''>Factorial</option>
					<option value='phasein' disabled=''>Phase-In</option>
					<option value='encouragement' disabled=''>Encouragement</option>
			</select>
		</label>
	</fieldset>

	<fieldset class='done'>
		<legend>Groups</legend>
		<div formArrayName="groups"
			*ngFor="let group of groups.controls; index as i">
			<div [formGroupName]="i">
				<label>Group {{i+1}} ID:
					<input
						tabindex='-1'
						type='text'
						placeholder='group id'
						name='grp_n_id'
						formControlName='grp_n_id' />
				</label>
				<label>Group {{i+1}} Name:
					<input
						tabindex='0'
						type='text'
						placeholder='group name'
						name='grp_n_name'
						formControlName='grp_n_name'
						(input)='changeInput($event)' />
				</label>
				<label>Size:
					<select
						tabindex='1'
						name='grp_n_size'
						formControlName='grp_n_size'>
						<option value='auto'>Automatic</option>
						<option value='manual'>Manual</option>
					</select>
					<input
						tabindex='1'
						type='number'
						placeholder='group size'
						name='grp_n_size_n'
						formControlName='grp_n_size_n'
						(input)='changeInput($event, i)' />
				</label>
			</div>
		</div>
	</fieldset>

	<fieldset class='done'>
		<legend>Features</legend>
		<div formArrayName="features"
			*ngFor="let feature of features.controls; index as j">
			<div [formGroupName]="j" class="feature_group_row">
				<input
					tabindex='-1'
					type='text'
					placeholder='feature id'
					name='feat_n_id'
					formControlName='feat_n_id' />
				<input
					tabindex='0'
					type='text'
					placeholder='feature name'
					name='feat_n_name'
					formControlName='feat_n_name'
					(input)='changeInput($event)' />
				<div
					class='feature_group_cell'
					*ngFor="let group of groups.controls; index as k">
					<label>{{ group.controls['grp_n_name'].value }}
						<input
							tabindex='1'
							type='checkbox'
							name='feat_n_grp_n'
							(input)='changeFeatureGroup($event, j, k)' />
					</label>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset class='wip'>
		<legend>Surveys</legend>
	</fieldset>

	<fieldset>
		<legend>Questions</legend>
	</fieldset>

	<fieldset>
		<label>name:
			<input
				type='text'
				name='name'
				[value]='name'
				(input)='name = $event.target.value; changeInput($event);' />
		</label>

		<button (click)='newTrial($event)' type='button'>New Trial</button>
	</fieldset>
</form>
