.col {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}
.fullFlex {
	flex: 1;
}

mat-card {
	margin: 20px auto;
	max-width: 800px;
}

form.newTrialForm {
	margin: 20px auto auto;
	max-width: 800px;

	mat-card-content {
		position: relative;

		*[formarrayname="groups"] {
			.mat-form-field-type-mat-select {
				width: 100px;
			}
		}

		.mono {
			font-family: monospace;
			font-weight: bold;
			font-size: 16px;
			padding-left: 7px;

			&:first-child {
				padding-left: 0;
			}
		}

		.section {
			border-top: 1px solid rgba(0,0,0,.12);
			margin-bottom: 20px;

			.subsection {
				border-top: 1px solid rgba(0,0,0,.12);
				margin-bottom: 10px;
			}

			h5 {
				margin-top: 0;
				margin-bottom: 10px;
				font-size: 18px;
			}
		}
	}

	mat-divider {
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	mat-form-field {
		margin-right: 20px;
		.mat-form-field-wrapper {
		}
	}

	mat-panel-title {
		div.survey {
			margin-top: 2px;
			margin-left: 5px;
		}
	}

	.mat-subheading-2 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.formFieldLabel {
		justify-self: flex-start;
		font-size: 14px;
		color: rgba(0,0,0,0.54);
		transform: translateY(-0.78125em) scale(.75) perspective(100px) translateZ(.001px);
		width: 30px;
	}
	.h3Indent {
		margin-left: 30px;
	}
	.surveyFrequency {
		width: 190px;
		margin-left: 20px;
		margin-top: 11px;
	}

}

fieldset {
	border: 1px solid black;
	margin: 20px 0;
	padding: 10px;

	&.done {
		border: 2px solid green;
	}

	&.wip {
		border: 2px solid orange;
	}

	legend {
		width: auto;
	}

	.item_group_row {
		display: flex;

		.item_group_cell {
			padding: 0 10px;

			label {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.questions {
		padding-bottom: 20px;
	}

	.input_id {
		width: 20px;
	}
}
