<mat-card class='content'>
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"><a mat-icon-button routerLink='/dashboard' color='warn' title='Cancel'><mat-icon>backspace</mat-icon></a></div>
		<h1 class='mat-display-4'>{{title}}</h1>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]='newTrialForm' class='newTrialForm' autocomplete="off">
			<mat-horizontal-stepper [linear]="true" #stepper>
				<mat-step label='Basic Info' [stepControl]='basicInfoStepForm'>
					<step-basic-info
							[parent]='this'
							[parentForm]='basicInfoStepForm'>
					</step-basic-info>
				</mat-step>
				<mat-step label='Groups' [stepControl]='trialGroupsStepForm'>
					<step-trial-groups
							[groups]='groups'
							[parent]='this'
							[parentForm]='trialGroupsStepForm'>
					</step-trial-groups>
				</mat-step>
				<mat-step label='Surveys' [stepControl]='surveyQuestionsStepForm'>
					<step-survey-questions
							[surveys]='surveys'
							[groups]='groups'
							[parent]='this'
							[parentForm]='surveyQuestionsStepForm'>
					</step-survey-questions>
				</mat-step>
				<!-- Confirmation Summary -->
				<mat-step label='Done'>
					<step-summary
							[parent]='this'
							[groups]='groups'
							[features]='features'
							[surveys]='surveys'
							[basicInfoStepForm]='basicInfoStepForm'
							[trialGroupsStepForm]='trialGroupsStepForm'
							[surveyQuestionsStepForm]='surveyQuestionsStepForm'>
					</step-summary>
				</mat-step>
			</mat-horizontal-stepper>
		</form>
	</mat-card-content>
</mat-card>
