fieldset {
	border: 1px solid black;
	margin: 20px 0;
	padding: 10px;

	&.done {
		border: 2px solid green;
	}

	&.wip {
		border: 2px solid orange;
	}

	legend {
		width: auto;
	}

	.item_group_row {
		display: flex;

		.item_group_cell {
			padding: 0 10px;

			label {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.questions {
		padding-bottom: 20px;
	}

	.input_id {
		width: 20px;
	}
}
