.row {
	&.pad-top {
		padding-top: 10px;
	}
}

.col {
	&.pad-top {
		margin-top: 10px;
	}
	&.section1 {
		margin-bottom: 20px;
	}
}

.full-flex {
	flex: 1;
}

.group-wrapper {
	.row {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	mat-divider {
		position: relative;
		left: -24px;
		width: calc(100% + 48px);
	}
}

.survey-title {
	align-self: center;
}
mat-icon + .survey-title {
	margin-left: 10px;
}

mat-expansion-panel {
	position: relative;

	.mat-subheading-2 {
		margin-top: 10px;
		margin-bottom: 0;
	}
}

.surveyFrequency {
	width: 190px;
	margin-left: 20px;
	margin-top: 11px;
}

.questions {
	margin-top: 40px;

	.question {
		position: relative;
		margin-top: 10px;
		margin-bottom: 20px;

		.form-field-label {
			color: rgba(0,0,0,0.54);
			font-size: 14px;
			justify-self: flex-start;
			transform: translateY(-0.78125em) scale(.75) perspective(100px) translateZ(.001px);
			width: 30px;
		}

		.indent {
			margin-left: 40px;
		}

		mat-divider {
			position: relative;
			bottom: -10px;
			left: -24px;
			width: calc(100% + 48px);
		}
	}
}

form.newTrialForm {
	margin: 20px auto auto;
	max-width: 800px;

	mat-card-content {
		position: relative;

		*[formarrayname="groups"] {
			.mat-form-field-type-mat-select {
				width: 100px;
			}
		}

		.mono {
			font-family: monospace;
			font-weight: bold;
			font-size: 16px;
			padding-left: 7px;

			&:first-child {
				padding-left: 0;
			}
		}

		.section {
			border-top: 1px solid rgba(0,0,0,.12);
			margin-bottom: 20px;

			.subsection {
				border-top: 1px solid rgba(0,0,0,.12);
				margin-bottom: 10px;
			}

			h4 {
				font-size: 18px;
				margin-top: 0;
				margin-bottom: 10px;
			}
		}
	}

	// mat-divider {
	// 	position: relative;
	// 	margin-top: 20px;
	// 	margin-bottom: 20px;
	// }

	mat-form-field {
		margin-right: 20px;
		.mat-form-field-wrapper {
		}
	}

	mat-panel-title {
		div.survey {
			margin-top: 2px;
			margin-left: 5px;
		}
	}

}
