<div class='mat-headline'>Trial Groups</div>
<mat-card [formGroup]='parentForm'>
	<mat-card-content>
		<mat-form-field>
			<input
				matInput
				type='number'
				name='ngroups'
				min=1
				value=1
				placeholder='Number of Groups:'
				(input)='changeGroupsCount($event)' />
		</mat-form-field>
		<mat-divider></mat-divider>
		<div formArrayName="groups"
				class='group-wrapper'
				*ngFor="let group of parentForm.get('groups').controls; index as i">
			<div [formGroupName]='i' class='col'>
				<div class='row'>
					<mat-form-field>
						<input
							matInput
							tabindex='0'
							type='text'
							name='group_name'
							formControlName='group_name'
							placeholder='Group Name:'/>
						<mat-error *ngIf="group.controls.group_name.hasError('required')">
							Group Name is <strong>required</strong>
						</mat-error>
						<mat-error *ngIf="group.controls.group_name.hasError('repeated')">
							Do <strong>not repeat</strong> group names
						</mat-error>
					</mat-form-field>
				</div>
				<mat-divider *ngIf="i < parentForm.get('groups').value.length-1"></mat-divider>
			</div>
		</div>
	</mat-card-content>
	<mat-card-actions align='end'>
		<button mat-button
			matStepperPrevious>
			<mat-icon>navigate_before</mat-icon> Previous
		</button>
		<button mat-raised-button
			color='primary'
			matStepperNext>
			Next <mat-icon>navigate_next</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
