<mat-card class='content'>
	<mat-card-content>
		<h1 class='mat-display-4'>Terms and Conditions</h1>
		<p>Last updated: Feb 20, 2019</p>
		<h3>Acceptable Use</h3>
		<p>Your use of the Website and Service must not violate any applicable laws, including copyright or trademark laws, export control laws, or other laws in your jurisdiction. You are responsible for making sure that your use of the Service is in compliance with laws and any applicable regulations.</p>
		<p>While using RCTrials, you agree that you will not under any circumstances:</p>
		<ul>
			<li>harass, abuse, threaten, or incite violence towards any individual or group, including RCTrials employees, officers, and agents, or other RCTrials Users;</li>
			<li>use our servers for any form of excessive automated bulk activity (for example, spamming), or relay any other form of unsolicited advertising or solicitation through our servers, such as get-rich-quick schemes;</li>
			<li>attempt to disrupt or tamper with RCTrials's servers in ways that could harm our Website or Service, to place undue burden on RCTrials's servers through automated means, or to access RCTrials's Service in ways that exceed your authorization;</li>
			<li>impersonate any person or entity, including any of our employees or representatives, including through false association with RCTrials, or by fraudulently misrepresenting your identity or site's purpose; or</li>
			<li>violate the privacy of any third party, such as by posting another person's personal information without consent.</li>
		</ul>
		<p>Any person, entity, or service collecting data from RCTrials must comply with our <a routerLink='/privacy'>Privacy Statement</a>, particularly in regards to the collection of our Users' Personal Information (as defined in the RCTrials Privacy Statement). If you collect any Personal Information from trial participants, you agree that you will only use the Personal Information you gather for the purpose for which the User has authorized it. You agree that you will reasonably secure any Personal Information you have gathered from RCTrials, and you will respond promptly to complaints, removal requests, and "do not contact" requests from RCTrials or RCTrials Users.</p>
		<p>You agree not to engage in activity that significantly harms our Users. We will resolve disputes in favor of protecting our Users as a whole.</p>
		<h3>API Terms</h3>
		<p>Abuse or excessively frequent requests to RCTrials via the API may result in the temporary or permanent suspension of your Account's access to the API. RCTrials, in our sole discretion, will determine abuse or excessive usage of the API. We will make a reasonable attempt to warn you via email prior to suspension.</p>
		<h3>Cancellation and Termination</h3>
		<p>You can cancel your Account at any time. The Account screen provides a simple cancellation link. We are not able to cancel Accounts in response to email requests.</p>
		<p>Upon cancellation we reserve the right to retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
		<p>We reserve the right to suspend or terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. RCTrials reserves the right to refuse service to anyone for any reason at any time.</p>
		<p>All provisions of this Agreement which by their nature should survive termination will survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>
		<h3>Disclaimer of Warranties</h3>
		<p>RCTrials provides the Website and the Service “as is” and “as available”, without warranty of any kind. Without limiting this, we expressly disclaim all warranties, whether express, implied or statutory, regarding the Website and the Service including without limitation any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement.</p>
		<p>RCTrials does not warrant that the Service will meet your requirements; that the Service will be uninterrupted, timely, secure, or error-free; that the information provided through the Service is accurate, reliable or correct; that any defects or errors will be corrected; that the Service will be available at any particular time or location; or that the Service is free of viruses or other harmful components. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, information, content or other material obtained from the Service.</p>
		<h3>Limitation of Liability</h3>
		<p>You understand and agree that we will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from</p>
		<ul>
			<li>your use or inability to use the Service;</li>
			<li>the Service generally or the software or systems that make the Service available;</li>
			<li>unauthorized access to or alterations of your transmissions or data;</li>
			<li>statements or conduct of any third party on the Service;</li>
			<li>any other user interactions that you input or receive through your use of the Service; or</li>
			<li>any other matter relating to the Service.</li>
		</ul>
		<p>Our liability is limited whether or not we have been informed of the possibility of such damages, and even if a remedy set forth in this Agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control.</p>
		<h3>Release and Indemnification</h3>
		<p>You agree to indemnify us, defend us, and hold us harmless from and against any and all claims, liabilities, and expenses, including attorneys’ fees, arising out of your use of the Website and the Service, including but not limited to your violation of this Agreement, provided that RCTrials (1) promptly gives you written notice of the claim, demand, suit or proceeding; (2) gives you sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that you may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases RCTrials of all liability); and (3) provides to you all reasonable assistance, at your expense.</p>
		<h3>Changes To These Terms and Conditions</h3>
		<p>These Terms and Conditions are effective as of <em>Feb 20, 2019</em> and will remain in effect except with respect to any changes in their provisions in the future, which will be in effect immediately after being posted on this page.</p>
		<p>We reserve the right to update or change our Terms and Conditions at any time and you should check these Terms and Conditions periodically. Your continued use of the Service after we post any modifications to the Terms and Conditions on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Terms and Conditions.</p>
		<p>If we make any material changes to these Terms and Conditions, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>
		<h3>Contact Us</h3>
		<p>If you have any questions about these Terms and Conditions, please contact us at terms@rctrials.tk.</p>
	</mat-card-content>
</mat-card>
